.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;

  width: 100%;
  max-width: 1000px;
  margin-inline: auto;

  padding-inline: clamp(1rem, 5vw, 4rem);
  padding-block: 2rem;
}
