.list-section {
  width: 100%;
  padding-inline: 2rem;
  padding-block: 2rem;
}

.list-header {
  font-size: clamp(1.25rem, 3vw, 1.75rem);
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  color: #0e374e;
  background-color: #0e374e27;
}

@media print {
  .list-section {
    color: black;
  }

  .list-header {
    color: black;
    print-color-adjust: exact;
  }

  summary {
    list-style: none;
  }
}
